<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VIPBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VIPBrowser.Properties.Settings>
            <setting name="UseFontfamily" serializeAs="String">
                <value>Meiryo UI, 9pt</value>
            </setting>
            <setting name="IsThreadViewMultiLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsThreadListViewMultiLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThreadListViewButtonType" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ThreadViewButtonMode" serializeAs="String">
                <value>Normal</value>
            </setting>
        </VIPBrowser.Properties.Settings>
    </applicationSettings>
</configuration>